[mongodb-org-{{  deadline_mongo_version }}]
name=MongoDB Repository
baseurl=https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/{{ deadline_mongo_version }}/x86_64/
gpgcheck=1
enabled=1
gpgkey=https://www.mongodb.org/static/pgp/server-{{ deadline_mongo_version }}.asc